{% extends "::base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-3">
            <ul class=" nav nav-pills nav-stacked">
                <li {% if current_category is null %} class="active" {% endif %}><a
                            href="{{ path('nurolopher_blog_homepage') }}">All</a></li>
                {% for category in categories %}
                    <li {% if current_category == category.id %} class="active" {% endif %}><a
                                href="{{ path('nurolopher_blog_post_index',{category_id:category.id}) }}">{{ category }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            {% for post in posts %}
                {{ include('@NurolopherBlog/Post/post_content.html.twig') }}
            {% endfor %}

            {% if posts.haveToPaginate %}
                <ul class="pagination">
                    {% for page in posts.links %}
                        <li {% if posts.page == page %} class="active" {% endif %}><a href="?page={{ page }}">
                                {% if page == posts.firstPage %}
                                    &laquo;
                                {% elseif page == posts.previousPage and posts.previousPage != posts.firstPage %}
                                    <
                                {% elseif page== posts.nextPage and posts.nextPage != posts.lastPage %}
                                    >
                                {% elseif page == posts.lastPage %}
                                    &raquo;
                                {% else %}
                                    {{ page }}
                                {% endif %}
                            </a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}