<article>
    <h4><a href="{{ path('nurolopher_blog_post_show',{'id': post.id}) }}">{{ post.title }}</a></h4>

    <p>{{ post.body|truncate(250) }}</p>

    <div>    {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('nurolopher_blog_post_edit',{'id':post.id}) }}">Edit</a>
            <a href="{{ path('nurolopher_blog_post_delete',{'id':post.id}) }}" class="text-danger">Delete</a>
        {% endif %}</div>
</article>